@page
@model DZPract13_06_2024.Pages.EditMovieModel
@{

}
<h2>@ViewData["Title"]</h2>
<form method="post">
    <label asp-for="Movie.Name">Название</label>
    <input asp-for="Movie.Name" type="text" />
    <label asp-for="Movie.Director">Режиссер</label>
    <input asp-for="Movie.Director" type="text" />
    <label asp-for="Movie.Genre">Жанр</label>
    <input asp-for="Movie.Genre"  type="text" />
    <label asp-for="Movie.PreviewText">Описание</label>
    <input asp-for="Movie.PreviewText" type="text"/>

    <input type="submit" value="Сохранить" />
</form>