@page "{name}"
@model Practic13._06._2024.Pages.MovieDetailModel
@{
    ViewData["Title"] = "Описание фильма";
}

<h1>@Model.Movie.Name</h1>
<br />
<p>@Model.Movie.PreviewText</p>
<p>@Model.Movie.Director</p>
<ul>
    @foreach (var session in Model.Movie.Sessions)
    {
        <li>@session</li>
    }
</ul>
<a asp-page="/Sessions">Вернуться к списку фильмов</a>

