@page "{handler?}"
@model DZPract13_06_2024.Pages.SessionsModel
@{
	ViewData["Title"] = "Расписание сеансов";
}
<h1>Расписание фильмов</h1>
<form method="get">
	<label>Поиск фильма</label>
	<input type="text" name="searchString" />
	<input type="submit" asp-page-handler="Search" value="Поиск" />
</form>
@foreach (var movie in Model.Movies)
{
	<h2>@movie.Name</h2>
	<ul>
		@foreach (var session in movie.Sessions)
		{
			<li>@session</li>
		}
		<li><a asp-page="/EditMovie" asp-route-name="@movie.Name">Редактировать</a></li>
	</ul>

}
